* {
    box-sizing: border-box;
}

body {
    font-family: 'Anuphan', sans-serif;
    margin: 0;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}
