* {
  box-sizing: border-box;
}

body {
  font-family: "Anuphan", sans-serif;
  margin: 0;
}

/* Panel Backgrounds */
.panel1 {
  background-image: url("./images/aurora-borealis.jpg");
  background-size: cover;
  background-position: center;
}

.panel2 {
  background-image: url("./images/river-and-forests.jpg");
  background-size: cover;
}

.panel3 {
  background-image: url("./images/landscape-adventure.jpg");
  background-size: cover;
}

.panel4 {
  background-image: url("./images/snowy-mountain.jpg");
  background-size: cover;
}

.panel5 {
  background-image: url("./images/travel-nature.jpg");
  background-size: cover;
}

.panels {
  display: flex;
  overflow: hidden;

  /* either this or panel height */
  min-height: 100vh;
}

.panel {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  cursor: pointer;
  flex: 1;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
  flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  font-size: xx-large;
  flex: 1 0 auto;
  margin: 0;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p:nth-child(2) {
  font-size: 4rem;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

.cta {
  color: white;
  text-decoration: none;
}